{{>/layout/main-header}}

<style>
    #error-log {
        display: none;
        color: red;
        font-style: italic;
    }
    #success-log {
        display: none;
        color: green;
    }
</style>

<div class="container">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="my_auth_form_box_title">JSotry</div>
            <div class="my_error_box my_hidden">

            </div>
            <form action="/join" method="post"  enctype="application/x-www-form-urlencoded" onsubmit="return submitCheck()">
                <input id="username" class="my_auth_form_box_input" type="text" name="userName" placeholder="유저네임" value="ssar"
                    maxlength="20" required />
                <input id="password" class="my_auth_form_box_input" type="password" name="userPassword" placeholder="비밀번호" value="1234"
                    maxlength="20" required />
                <input id="same-password" class="my_auth_form_box_input" type="password" name="ConfirmPassword" placeholder="비밀번호 확인" value="1234"
                    maxlength="20"  required/>
                <div id="error-log">비밀번호가 일치하지 않습니다</div>
                <div id="success-log">비밀번호가 일치합니다</div>
                <input class="my_auth_form_box_input" type="email" name="userEmail" placeholder="이메일" maxlength="60" value="ssar@nate.com"
                    required />
                <button type="submit" class="my_secondary_btn">회원가입</button>
            </form>
            <div class="my_auth_form_box_link">
                <div><a href="/login-form">로그인</a></div>
                <div><a href="/user/password-reset-form">비밀번호 찾기</a></div>
            </div>
        </div>
    </div>
    <br />
</div>

<script>
    let isSame = false;

    function submitCheck() {
        return isSame;
    }

    function checkPasswords() {
        let password = $("#password").val();
        let passwordCheck = $("#same-password").val();

        if (password === passwordCheck) {
            $("#error-log").css("display","none");
            $("#success-log").css("display","block");
            isSame = true;
        } else {
            $("#success-log").css("display","none");
            $("#error-log").css("display","block");
            isSame = false;
        }
    }

    $("#password, #same-password").on('input', (e) => {
        checkPasswords();
    });


</script>

<!--<script src="/js/user/joinForm.js"></script>-->

{{>/layout/footer}}