{{>/layout/main-header}}

<style>
    #error-log {
        display: none;
        color: red;
        font-style: italic;
    }
    #success-log {
        display: none;
        color: green;
    }

    .username-container {
        display: flex;
        align-items: center;
    }

    .my_auth_form_box_input{
        flex: 1;
        margin-right: 10px;
    }

    .check_username_button{
        height: 30px;
        padding: 0 10px;
        white-space: nowrap;
        font-size: 13px;
        margin-left: 10px;
    }



</style>

<div class="container">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="my_auth_form_box_title">HStory</div>
            <div class="my_error_box my_hidden">

            </div>
            <form action="/join" method="post"  enctype="application/x-www-form-urlencoded" onsubmit="return submitCheck()">
                <div class="username-container">
                    <input id="username" class="my_auth_form_box_input" type="text" name="userName" placeholder="유저네임" value="ssar"
                           maxlength="20" required />
                    <button type="button" class="check_username_button" onclick="checkUsername()">중복체크</button>
                </div>
                <input id="password" class="my_auth_form_box_input" type="password" name="userPassword" placeholder="비밀번호" value="1234"
                    maxlength="20" required />
                <input id="same-password" class="my_auth_form_box_input" type="password" name="ConfirmPassword" placeholder="비밀번호 확인" value="1234"
                    maxlength="20"  required/>
                <div id="error-log">비밀번호가 일치하지 않습니다</div>
                <div id="success-log">비밀번호가 일치합니다</div>
                <input class="my_auth_form_box_input" type="email" name="userEmail" placeholder="이메일" maxlength="60" value="ssar@nate.com"
                    required />
                <button type="submit" class="my_secondary_btn">회원가입</button>
            </form>
            <div class="my_auth_form_box_link">
                <div><a href="/login-form">로그인</a></div>
                <div><a href="/user/password-reset-form">비밀번호 찾기</a></div>
            </div>
        </div>
    </div>
    <br />
</div>

<script>
    let isSame = false; //비밀번호 같니?
    let canUseUserName = false; //유저네임 통과니?

    //비밀번호 일치
    function submitCheck() {
        if (isSame === false) {
            alert("비밀번호가 일치하지 않습니다.");
            return false;
        }

        //유저네임 중복체크
        if (canUseUserName === false) {
            alert("유저네임 중복체크가 필요합니다.");
            return false;
        } else {
            return true;
        }
    }

    function checkPasswords() {
        let password = $("#password").val();
        let passwordCheck = $("#same-password").val();

        if (password === passwordCheck) {
            $("#error-log").css("display","none");
            $("#success-log").css("display","block");
            isSame = true;
        } else {
            $("#success-log").css("display","none");
            $("#error-log").css("display","block");
            isSame = false;
        }
    }

    function checkUsername(){
        let username = $("#username").val();
        //통신

        console.log("username", username);

        $.ajax({
            //get으로 usernameCheck해서 username을 받아오면
            url: "/usernameCheck?username="+username,
            method: "get",
        }).done(res=>{
            console.log("성공", res);
            if(res === "userNameIsExists"){ //res가 ok이면 통과못함.
                canUseUserName = false;
                alert(username + "중복되었습니다");
            }
            else{ //res가 ok가 아니면 통과
                canUseUserName = true;
                alert(username + "아이디를 사용할 수 있어요");
            }
        }).fail(res=>{
            console.log("실패", res);
        });


    }

    $("#password, #same-password").on('input', (e) => {
        checkPasswords();
    });

</script>

<!--<script src="/js/user/joinForm.js"></script>-->

{{>/layout/footer}}